# dependencies
**/node_modules

# testing
**/coverage

redditexamplepage

# build
**/dist
**/build
**/dist-zip

# env
**/.env.local
**/.env
.env.*.local

# etc
.DS_Store
.idea
**/.turbo

# compiled
chrome-extension/public/manifest.json
**/tailwind-output.css
vite.config.mts.timestamp-*.mjs